.navbar {
    display: flex;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #f2e6da;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-logo {
    display: flex;
    color: #C76C39;
}

.navbar-links {
    display: flex;
    font-weight: bold;
    gap: 20px;
    align-items: center;
}

.navbar-links a{
    color: #60321E;
    padding-left: 10px;
    padding-right: 10px;

}

.navbar-links a.active{
    background-color: #DFCD8F;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
}

.navbar-signin {
    display: flex;
    font-weight: bold;
    gap: 20px;
    align-items: center;
}

.navbar-signin a{
    color: #60321E;
}